MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls

GMAIL_TOKEN_FILE=token.json
GMAIL_SENDER=zekogml11@gmail.com
GMAIL_API=

OLLAMA_BASE_URL=
GOOGLE_API_KEY=
OPENAI_API_KEY=

